<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedor Agregado Exitosamente</title>
    <!-- Agregar estilos de Bootstrap u otros estilos si es necesario -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Proveedor Agregado Exitosamente</h1>
            <p class="lead">El proveedor <strong>{{ proveedor.nombre }} {{ proveedor.apellido }}</strong> con DNI <strong>{{ proveedor.dni }}</strong> ha sido agregado exitosamente.</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'listar_proveedores' %}" role="button">Volver al listado de proveedores</a>
            </p>
        </div>
    </div>
</body>
</html>
